---
title: Costs for GCSE Maths tutoring
---

<!doctype html>
<html>
<head>
<title>Costs for GCSE Maths tutoring</title>
<meta name="description" content="Example prices for tutoring, based on location">
{% include inc/head.html %}
</head>
<body class="cost">
  <header>
    {% include inc/navigation.html %}
    {% include inc/header.html %}
  </header>
  <section class="content">
    <h1>Costs</h1>
    <div class="intro">
      <p>
        Cost is dependant upon distance from Bishop’s Stortford and the number of hours you require per session.
        Call for a quote or email me with your postcode and details; I will get back to you with your price.
      </p>
    </div>
    <h2>Sample prices for a 1h session</h2>
    <div class="prices_current price_list">
      <table class="hourly_rates">
        <colgroup>
          <col class="location" />
          <col class="rate" />
        </colgroup>
        <tbody>
          <tr class="odd">
            <td>Bishop’s Stortford</td>
            <td>£13.00</td>
          </tr>
          <tr>
            <td>Little Hadham</td>
            <td>£16.00</td>
          </tr>
          <tr class="odd">
            <td>Stansted</td>
            <td>£15.00</td>
          </tr>
          <tr>
            <td>Takeley</td>
            <td>£17.00</td>
          </tr>
          <tr class="odd">
            <td>Harlow</td>
            <td>£19.50</td>
          </tr>
          <tr>
            <td>Great Dunmow</td>
            <td>£24.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <footer>
    {% include inc/footer.html %}
  </footer>
</body>
</html>
