---
title: Costs for GCSE Maths tutoring
---

<!doctype html>
<html>
<head>
<title>Costs for GCSE Maths tutoring</title>
<meta name="description" content="Example prices for tutoring, based on location">
{% include head.html %}
</head>
<body class="cost">
  <header>
    {% include navigation.html %}
    {% include header.html %}
  </header>
  <section class="content">
    <h1>Costs</h1>
    <div class="intro">
      <p>
        The cost for a 1 hour session in Bishop's Stortford is £20.00.
      </p>
    </div>
  </section>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>
