---
title: GCSE Maths tutor based in Bishop’s Stortford
---

<!doctype html>
<html>
<head>
<title>GCSE Maths tutor based in Bishop’s Stortford</title>
<meta name="description" content="Julie Fowler, a GCSE maths tutor based in Bishop’s Stortford">
{% include inc/head.html %}
</head>
<body class="home">
  <header>
    {% include inc/navigation.html %}
    {% include inc/header.html %}
  </header>
  <section class="content">
    <h1>Maths tutoring</h1>
    <div class="column_one">
      <p>
        Patient and friendly personal tutor, operating from Bishop’s Stortford.
      </p>
      <p>
        Home visits for GCSE Maths (Foundation or Higher). All Materials supplied.
      </p>
      <p class="discreet">
        Prices start at £13.00 per hour
      </p>
    </div>
    <div class="column_two">
      <p>Assistance available for GCSE Maths.</p>
      <ul>
        <li>Help with specific areas of weakness</li>
        <li>Full weekly tutoring, tagged to school sessions</li>
        <li>Homework help</li>
        <li>Long term sickness catch-up</li>
      </ul>
    </div>
  </section>
  <footer>
    {% include inc/footer.html %}
  </footer>
</body>
</html>
